#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: left;
}
.filter-station {
  margin-bottom: 10px;
}

.station-headers {
  display: grid;
  grid-template-columns: 2fr 2fr 1fr;
  padding: 5px;
  background-color: rgb(11, 11, 19);
}

.stations-list {
  display: inline-block
}

.station {
  display: grid;
  grid-template-columns: 2fr 2fr 1fr;
}

.station>div {
  padding-left: 8px;
  padding-top: 4px;
}

.station:hover {
  filter: drop-shadow(0 0 1em #ccceffaa);
}

.station-expanded {
  background-color: rgb(8, 54, 59);
  margin: 0 auto;
  padding: 2rem;
  border-radius: 10px;
  margin-bottom: 2px;
  text-align: left;
}

@media (prefers-color-scheme: light) {
  .station-headers, .station-expanded {
    background-color: rgb(195, 220, 240);
  }
}