#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.filter-station {
  margin-bottom: 10px;
}
.stations-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.station {
  padding: 2em;
  background-color: rgb(20, 20, 20);
  margin: 0 auto;
  padding: 2rem;
  border-radius: 15px;
  margin: 0 5px 10px 5px;
}

.station:hover {
  filter: drop-shadow(0 0 1em #ccceffaa);
}

.station-expanded {
  padding: 2em;
  background-color: rgb(30, 30, 30);
  margin: 0 auto;
  padding: 2rem;
  border-radius: 10px;
  margin-bottom: 10px;
  text-align: left;
}